.titulo {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100%;
}

.mensaje {
    font-family: 'Space Mono', monospace;
}

.primera_linea {
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    font-weight: bold;
}

.segunda_linea {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
}
/* 
.contenido {
    max-width: 500px;
    margin: auto;
} */

.imagen {
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 37.11%;
    height: 414.2492370605469px;
    width: 539.2236938476562px;
    left: 77px;
    /* top: 265px; */
    border-radius: 0px;

}

@media only screen and (min-width: 600px) {
    .primera_linea {
        font-size: 48px;
    }
    .segunda_linea {
        font-size: 18px;
    }
}

.boton {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    max-height: 68px;
}